@using Library.Web.Models.Catalog
@model Library.Web.Models.Catalog.AssetDetailModel
@{
    ViewBag.Title = @Model.Title;
}

@section Scripts{
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
}

@section Styles{
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
}

<div class="container">
    <div class="header clearfix detailHeading">
        <h2 class="text-muted">View Library Item</h2>
    </div>

    <div class="jumbotron">
        <div class="row">
            <div class="col-md-4">
                <div>
                    <img class="detailImage" src="@Model.ImageUrl" />
                </div>
            </div>
            <div class="col-md-4">
                <p id="itemTitle">@Model.Title</p>
                <p id="itemAuthor">@Model.AuthorOrDirector</p>
                <p id="itemStatus">@Model.Status</p>
                <p id="itemType">@Model.Type</p>
                <p id="itemLocation">Last Location: @Model.CurrentLocation</p>
                @if (Model.Status == "Checked Out")
                {
                    <p id="itemPatron">Checked Out By: @Model.PatronName</p>
                }

                @if (@Model.Status != "Lost")
                {
                    @if (@Model.Status == "Available")
                    {
                        <p><a class="btn btn-lg btn-info" role="button" asp-controller="Catalog" asp-action="Checkout" asp-route-id="@Model.AssetId">Check Out</a></p>
                    }

                    @if (@Model.Status == "Checked Out")
                    {
                        <p><a class="btn btn-lg btn-success" role="button" asp-controller="Catalog" asp-action="CheckIn" asp-route-id="@Model.AssetId">Check In</a></p>
                        <p><a class="btn btn-lg btn-warning" role="button" asp-controller="Catalog" asp-action="Hold" asp-route-id="@Model.AssetId">Place Hold</a></p>
                    }

                    <p><a class="btn btn-lg btn-danger" role="button" asp-controller="Catalog" asp-action="MarkLost" asp-route-id="@Model.AssetId">Mark Item Lost</a></p>
                }

                else
                {
                    <p>This item has been lost. It cannot be checked out.</p>
                    <p><a class="btn btn-lg btn-success" role="button" asp-controller="Catalog" asp-action="MarkFound" asp-route-id="@Model.AssetId">Mark Item Found</a></p>
                }

            </div>
            <div class="col-md-4 detailInfo">
                <table>
                    <tr>
                       <td class="itemLabel">ISBN: </td>
                       <td class="itemValue">@Model.Isbn</td>
                    </tr>
                    <tr>
                       <td class="itemLabel">Call Number: </td>
                       <td class="itemValue">@Model.Dewey</td>
                    </tr>
                    <tr>
                       <td class="itemLabel">Replacement Cost: </td>
                       <td class="itemValue">$@Model.Cost</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6">
            <h4>Checkout History</h4>
            <table class="table table-bordered table-hover table-condensed">
                <thead>
                    <tr>
                        <th>Date Loaned</th>
                        <th>Date Returned</th>
                        <th>Card Id</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var checkout in @Model.CheckoutHistory)
                    {
                        <tr>
                            <td>
                                @checkout.CheckedOut
                            </td>
                            <td>
                                @checkout.CheckedIn
                            </td>
                            <td>
                                @checkout.LibraryCard.Id
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="col-lg-6">
            <h4>Current Holds</h4>
            <table class="table table-bordered table-hover table-condensed">
                <thead>
                    <tr>
                        <th>Hold Placed</th>
                        <th>Patron</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var hold in @Model.CurrentHolds)
                    {
                        <tr>
                            <td>
                                @hold.HoldPlaced
                            </td>
                            <td>
                                @hold.PatronName
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
