@model Library.Web.Models.Catalog.AssetIndexModel
@{
    ViewBag.Title = "Library Catalog Index";
}

<div id="assets">
    <h3>Library Catalog</h3>
    <div id="assetsTable">
        <table class="table table-condensed" id="catalogIndexTable">
            <thead>
                <tr>
                    <th>Image</th>
                    <th>Title</th>
                    <th>Author / Director</th>
                    <th>Dewey Call Number</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var assetGroup in Model.PageOfAssets.Results) {
                    @foreach (var book in assetGroup.Books) {
                        <tr class="assetRow">
                            <td class="">
                                <div>
                                    <a asp-controller="Catalog" asp-action="Detail" asp-route-id="@book.Id">
                                        <img src="@book.ImageUrl" class="imageCell" alt="@book.Title"/>
                                    </a>
                                </div>
                            </td>
                            <td class="">@book.Title</td>
                            <td class="">@book.DeweyIndex</td>
                            <td class="">@book.Author</td>
                        </tr>
                    }
                    
                    @foreach (var video in assetGroup.Videos) {
                        <tr class="assetRow">
                            <td class="">
                                <div>
                                    <a asp-controller="Catalog" asp-action="Detail" asp-route-id="@video.Id">
                                        <img src="@video.ImageUrl" class="imageCell" alt="@video.Title"/>
                                    </a>
                                </div>
                            </td>
                            <td class="">@video.Title</td>
                            <td class="">@video.Director</td>
                        </tr>
                   } 
                }
            </tbody>
        </table>
    </div>
</div>
@section Styles {
    <link href="https://cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css" rel="stylesheet" type="text/css" />
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link href="http://cdn.datatables.net/plug-ins/a5734b29083/integration/bootstrap/3/dataTables.bootstrap.css" rel="stylesheet" type="text/css" />
}
@section Scripts {
    <script type="text/javascript" src="~/lib/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="http://cdn.datatables.net/plug-ins/a5734b29083/integration/bootstrap/3/dataTables.bootstrap.js"></script>

    <script>
        $(document).ready(function () {
            $('#catalogIndexTable').DataTable();
        });
    </script>
}